<%= form_for(blog_post) do |f| %>
  <% if blog_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog_post.errors.count, "error") %> prohibited this blog_post from being saved:</h2>

      <ul>
      <% blog_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :title, placeholder: "Title Your Post", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.text_area :blog_entry, placeholder: "Say what you will...", class: "form-control", rows: 10 %>
  </div>

  <div class="form-group">
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="actions">
    <% if current_page?(new_blog_post_path) %>
      <%= f.submit "Post It!", class: "btn btn-success" %>
    <% else %>
      <%= f.submit "Post Edit", class: "btn btn-success" %>
    <% end %>
  </div>
<% end %>
